.all-products {
  margin: 5rem;
  display: flex;
  flex-direction: row;
  overflow-x: auto; /*Changed from 'scroll' to 'auto' for better handling*/
}
.all-products::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.product-card {
  width: 18rem;
  height: 35rem;
  margin-top: 1rem;
  margin-right: 1rem; /* Space between cards */
  /* border: 1px solid black; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &:hover {
    transform: translateY(-5px);
    box-shadow: none;
    opacity: 0.9;
  }
}

.product-content {
  white-space: pre-wrap;
}

/* Ensure the Link does not affect its children */
.product-card a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the color from the parent element */
}

/* Optionally, you can specifically style the card-body if needed */
.card-body {
  color: black; /* Adjust to desired text color */
}

.card-title,
.card-text {
  color: inherit; /* Ensure text color is inherited from the parent */
}

.whole-product-detail-page {
  display: flex;
  flex-direction: row;
  margin-left: 5vw;
  margin-right: 5vw;
}

.product-detail-page {
  display: flex;
  flex-direction: column;
}
.product-detail-image-and-content {
  display: flex;
  flex-direction: row;
  /* width: 75vw; */
}

.product-detail-image {
  margin-top: 2vw;
  margin-bottom: 2vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.product-detail-right {
  margin: 2vw;
}

.product-more-detail {
  /* padding-left: 2vw; */
  /* width: 70vw; */
  padding-right: 2vw;
}
.other-product-cards {
  display: flex;
  flex-direction: column;
}

.other-product-card {
  width: 18rem;
  /* height: 15rem; */
  margin-top: 1rem;
  /* margin-right: 1rem; Space between cards */
  /* border: 1px solid black; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &:hover {
    transform: translateY(-5px);
    box-shadow: none;
    opacity: 0.9;
  }
}
